section#home{
  display: grid;
  height: 100vh;
  align-items: center;
  text-align: center;

  }
section#batepapo{
  display:none;
  grid-template-rows: 1fr min-content;
  height: 100vh;
  }
section#batepapo form{
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 10px;
  background: rgb(32, 32, 32);
  height: 50px;
}
section#batepapo form input{
  padding: 5px 15px;
}

section#batepapo form button{
  padding: 5px 15px;
}
div#mensagens{
  overflow: auto;
  word-wrap: break-word;
}
div#mensagens p {
  margin: 5px;
  padding: 10px;
  background: #cccccc;
  border-radius: 8px;
}