<html>
    <head>
        <title>
            Chat Online
        </title>
        <link rel="stylesheet" href="static/css/index.css">
        <link rel="stylesheet" href="static/css/reset.css">
    </head>
    <body>
        <section id="home">
            <form>
                <label>Seu nome: <input id="nome" type="text" placeholder="Digite seu apelido" required/></label>
                <button>Entrar</button>
            </form>
        </section>
        <section id="batepapo">
            <div id="mensagens">                
            </div>
            <form>
               <input id="mensagem" type="text" placeholder="Digite sua mensagem" required ><button>Enviar</button> 
            </form>
        </section>
    </body>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script>
        var inome = document.querySelector('#nome');
        var imensagem = document.querySelector('#mensagem');
        var homeform =  document.querySelector('#home form');
        var chatform =  document.querySelector('#batepapo form');
        var msgdiv =  document.querySelector('#mensagens');
       
        function messagehtml(name,msg){
            return '<p><strong>'+ name +':</strong> '+ msg +'</p>';
        }

        var socket = io.connect('//' + document.domain + ':' + location.port);
        socket.on('message', function(data) {
            msgdiv.innerHTML+=messagehtml(data.name,data.message)
        });
         homeform.addEventListener('submit', function(ev){
            document.querySelector('#home').style.display='none';
            document.querySelector('#batepapo').style.display='grid';
            ev.preventDefault();
        });
        chatform.addEventListener('submit',function(ev){
            socket.emit('message',{
                name:inome.value,
                message:imensagem.value
            });
            ev.preventDefault();
        });
    </script>
</html>
